* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
}

.column {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    background: #fff;
    border-right: 1px solid #e5e5e5;
    flex-direction: column;
}

.column:last-child {
    border-right: none;
}

h1 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
